html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 50em;
  }

  .app {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  form{
      margin-top: 2em;
  }
  